//font
$font-stack:    Helvetica, sans-serif;
$primary-font-size: 14px;
$base-font-size: 1em;
// ----------------------
//colors
$primary-color: #414141;
$medium: #6e6f6e;
$light: #c0c0c0;
$very-light: #d9d9d9;
$bright-dark: #0b9082;
$bright: #55b6b6;
$bright-light: #46f8c8; 
$white-transparent: rgba(255,255,255, 0.3);
$dark-transparent: rgba(0,0,0, 0.4);
$darker-transparent: rgba(0,0,0, 0.7);
$grey-transparent: rgba(125,125,125,0.5);
$header-background: url(../img/background.png);

// border-radius
$big-border-radius: 30px;
$medium-border-radius: 15px;
$primary-radius: 3px;

// border
$thick-border: 6px;
$thin-border: 1px;
$primary-border: 3px $light solid;
$brigth-borders: 5px solid $bright;
$white-transparent-border: 3px $white-transparent solid;
$thin-grey-border: 1px $light solid;
$bright-border: 2px $bright-dark solid;
$light-grey-border: 3px $light solid;
$grey-border: 3px $medium solid;
$main-menu-border: 5px $bright-dark solid;
// ----------------------
//margins-paddings
$primary-margin: 5px;
$primary-padding: 10px;
$header-margin: 50px;
$content-padding: 7px;
$left-sub-menu-margin: 15px;
// ---------------
// menu
$dropdown-menu-width: 210px;

//------------
$transition-all: all 1s;
$transition-menu: all 0.5s;

//sizing
$btn-height: 40px;
$circle-btn-height: 50px;
$small-circle-btn-height: 20px;
$rubric-size: 300px;
$header-height: 170px;
$menu-item-height: 60px;
$left-menu-btn-height: 35px;
$left-menu-wigth: 200px;
$primary-line-height: 40px; 
//-----------------


@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
  }

@mixin box-sizing($property) {
    -webkit-box-sizing: $property;
    -moz-box-sizing: $property;
    box-sizing: $property;
}

@mixin background-size($property){
    -moz-background-size: $property;
    -webkit-background-size: $property;
    -o-background-size: $property;
    background-size: $property;
}
  