$menu-borders: 5px solid $header-color;
$green-borders: 5px solid $blue;
$white-transparent-border: 3px $white-transparent solid;
$primary-radius: 3px;
$thin-grey-border: 1px $light-grey-color solid;
$grey-border: 3px $logo-color solid;