%primary-button{
    height: $btn-height;
    background-color: transparent;
    color: $primary-color;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin: $primary-margin;
}

%circle-button{
    @extend %primary-button;
    height: $circle-btn-height;
    width: $circle-btn-height;
    border-radius: $circle-btn-height/2;
    border: $light solid $primary-border;
}

%circle-button-hover{
    background-color: $white-transparent;
    border: $primary-color solid $primary-border;
}

%sort-buttons{

}

%filter-buttons{
    
}

%filter-item-buttons{
    
}