%primary-button{
    height: $btn-height;
    background-color: transparent;
    color: $primary-color;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin: $primary-margin;
}

%circle-button{
    @extend %primary-button;
    height: $circle-btn-height;
    width: $circle-btn-height;
    border-radius: $circle-btn-height/2;
    border: $light solid $primary-border;
}

%small-circle-button{
    @extend %primary-button;
    height: $small-circle-btn-height;
    width: $small-circle-btn-height;
    border-radius: $small-circle-btn-height/2;
    border: $thin-grey-border;
}

%circle-button-hover{
    background-color: $white-transparent;
    border: $primary-color solid $primary-border;
}

%sort-buttons{

}

%left-menu-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: $left-menu-btn-height;
    padding: 0 $primary-padding;
    width: 100%;
    border-bottom: $bright-border;
    vertical-align: middle;
}

%left-menu-buttons-dropdown{
    @extend %left-menu-buttons;
    padding-left: $primary-padding + $left-sub-menu-margin;
    border-bottom: $thin-grey-border;
    min-height: $left-menu-btn-height/2;
}