%a-reset{
text-decoration: none;
color: inherit;
}

%max-width{
    width: 80vw;
    margin: 0 auto;
}

%inline-flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

%flex-wrap{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

%menu-items{
    display: inline-block;
    height: $menu-item-height;
    line-height: $menu-item-height;
    padding: 0 2*$primary-padding;
}

%vertical-centering{
    display: flex;
    justify-content: center;
	flex-direction: column;
}

%dropdown-menu{

}

%dropdown-menu-item{
    
}