@import "partials/_base.scss";
@import "partials/_figures.scss";
@import "partials/_buttons.scss";
@import "partials/_extends.scss";
@import "partials/_reset.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";


body{
    font-family: $font-stack;
    color: $primary-color;
    font-size: $primary-font-size;
}

header{
    background: $header-background;
}

.header{
    min-height: 500px;
    @include background-size(100%);
}

.header-row, .menu{
    @extend %inline-flex;
}

.header-row, .main-content, .footer-content{
    @extend %max-width;
}

.header-row{
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}

.logo{
    max-width: 400px;
    padding: 0 $header-margin;
    h1{
        font-size: 3em;
        font-weight: 400;
    }
}

.menu{
    font-size: 1.5*$base-font-size;
    text-transform: uppercase;
    .dropdown-menu{
        align-self: flex-start;
        top: $menu-item-height;
        @extend %dropdown-menu;
    }
    .menu-item{
        position: relative;
        display: flex;
        flex-direction: row;
        height: $menu-item-height;
        margin-left: $primary-margin;
        border-right: $main-menu-border;
        a{
            @extend %vertical-centering;
            height: 100%;
            padding: 0 $primary-padding;
            transition: $transition-menu;
        }
        a:hover, a:active{
           @extend %menu-item-hover;
        }
    }
    .dropdown-menu_item{
        display: flex;
        flex-direction: column;
        position: relative;
        width: $dropdown-menu-width;
        height: $menu-item-height;
        border-bottom: $main-menu-border;
        color: $very-light;
        font-size: 0.8*$base-font-size;
        a{
            background: $darker-transparent;
        }
        a:hover, a:active{
            @extend %dropdown-menu-item-hover;
         }
    }
    .dropdown-header:hover{
        @extend %menu-item-hover;
    }
    .menu-item:hover > .dropdown-menu{
        display: inline-block;
    }
}
.menu :last-child{
    border:none;
}
.dropdown-menu :last-child{
    border:none;
    border-radius: 0 0 $primary-radius $primary-radius;
}

.search-icon{
    @extend %primary-button;
    align-self: center;
    color: $primary-color;
    margin-bottom: 0;
    width: 50px;
}

.search-wrapper{
    position: relative;
    z-index: 10;
}

.search-line{
    left: auto;
    right: 0;
    min-width: 300px;
    border: $white-transparent-border;
    border-radius: $primary-radius;
    text-align: right;
    background: $dark-transparent;
    padding: $primary-padding;
    padding-top: 0;
    input{
        border-radius: inherit;
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
        border: $thin-grey-border;
    }
}

.close-btn{
    @extend %primary-button;
    padding: 0;
    height: auto;
}

.header_slider{
    width: 100%;
}

.slider{
    @extend %inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    bottom: -$header-margin;
    height: 450px;
    z-index: 5;
}

.slider_button{
    @extend %circle-button;
    font-size: 2*$base-font-size;
    transition: $transition-all;
}

.slider_button:hover{
    @extend %circle-button-hover;
}

.slider_box{
    @extend %max-width;  
    height: 100%;
    overflow: hidden;
    position: relative;
    figure{
        text-align: center;
        position: absolute;
        left: 100%;
        border-radius: $primary-radius;
        width: 350px;
        height: 450px;
        overflow: hidden;
        display: inline-block;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            left: 0;
        }
        .slider_caption{
            position: absolute;
            top: 60%;
            height: 40%;
            width: 100%;
            z-index: 10;
            background: $dark-transparent;
            font-size: 1.3em;
            color: $very-light;
            .figure-caption-header{
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                width: 100%;
                background: $bright-light;
                color: $primary-color;
            }
            p{
                padding: $primary-padding;
            }
        }
        img:hover ~ .slider_caption, .slider_caption:hover{
            background: $darker-transparent;
            top: 50%;
            height: 50%;
            cursor: pointer;
        }
    }
}

.content{
    padding: $header-margin 0 $header-margin;
    width: 100%;
}

#main-content{
    padding: 2*$header-margin 0 $header-margin;
}

.main-content{
    @extend %flex-wrap;
}

.rubric{
    @extend %inline-flex;
    align-items: center;
    justify-content: center;
    height: $rubric-size;
    width: $rubric-size;
    border: $light-grey-border;
    border-radius: $primary-radius;
    margin: $primary-margin;
    position: relative;
    overflow: hidden;
    box-shadow: $base-font-size/3 $base-font-size/3 $base-font-size $dark-transparent;
    img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    }
}

.rubric_title-wrapper{
    background: $dark-transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: $very-light;
    h2{
        text-transform: uppercase;
        font-size: $base-font-size*1.8;
    }
    a{
        @extend %inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

.rubric:hover > .rubric_title-wrapper{
    background: $darker-transparent;
}

.rubric:hover h2{
    font-size: $base-font-size*2;
}

.rubric:hover{
    border-color: $bright;
}

.footer{
    background: $very-light;
}

.footer-content{
    @extend %inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: $primary-margin auto;
    .socials{
        span.socials_item{
            margin: 0 $primary-margin;
            img{
            width: 40px;
            height: 40px;
            }
        }
    }
    div{
    padding: $primary-padding;
    }
    .footer_logo{
        padding: $primary-padding;
        h1{
           font-size: 1.5em;
        }
        h3{
            font-size: 1.1em;
         }
    }
}

// styles for contacts

.contacts{
    @extend %max-width;
    font-size: $base-font-size;
    p{
        text-align: center;
        padding: $primary-padding;
    }
    table{
        margin: 0 auto;
        .adress-rubrics{
            font-size: 0.9*$base-font-size;
            color: $light;
        }
        td{
            padding: $primary-margin;
        }
    }
}
.map{
    @extend %max-width;
    height: 400px;    
}

/*
Styles for library-pages
*/

.content-library{
    @extend %inline-flex;
    align-items: strech;
    max-height: 900px;
    height: 120vh;
    width: 100%;
}

//Left-menu styles
.left-menu{
    text-transform: uppercase;
    max-width: 20vw;
    min-width: $left-menu-wigth;
    height: 100%;
    position: relative;
    top: 0;
    align-self: stretch;
    border-right: $primary-border;
    box-shadow: 0 0 10px $light;
    overflow: scroll;
    #all{
        margin: $header-margin/2 0;
        border: none;
    }
    .left-menu-button{
        @extend %left-menu-buttons;
    }

    .left-menu-button:hover{
        cursor: pointer;
    }
    .filter-btn{
        .fa-angle-down{
            display: none;
        }
        .fa-angle-right{
            display: inline;
        }
        .title-btn{
            padding: 0 $primary-margin;
        }
    }

    .open{
        .fa-angle-down{
            display: inline;
        }
        .fa-angle-right{
            display: none;
        }
    }

    .filter-btn:active, .filter-btn:hover{
        @extend %menu-item-hover;
    } 
    .dropdown-left-item:active, .dropdown-left-item:hover{
        @extend %dropdown-menu-item-hover;
    }

    .dropdown-left-menu{
        height: 0;
        overflow: hidden;
        transition: $transition-menu;
        .dropdown-left-item{
            @extend %left-menu-buttons-dropdown;
        }
    }
}
/*
    Styles for block of content
*/
.result{
    width: 100%;
    overflow: scroll;
    .result_header{
        @extend %inline-flex;
        justify-content: space-between;
        align-items: center;
        height: $primary-line-height;
        border-bottom: $primary-border;
        box-shadow: 0 0 5px $light;
        padding: 0 $primary-padding;
        text-transform: uppercase;
    }
    .breadcrums{
        .breadcrum-item:hover{
            cursor: pointer;
            color: $medium;
        }
    }
    .sorting{
    }
    .content-box{
        max-width: 90%;
        margin: 0 auto;
        
    }
    .page{
        @extend %flex-wrap;
        align-content: space-between;
        align-items: center;
        padding: $primary-padding 0; 
        
        .content-item{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
            width: 300px;
            height: 250px;
            overflow: hidden;
            border-radius: $primary-radius $primary-radius 0 0;
            box-shadow: 3px 3px 10px $light;
            margin: $primary-margin*2 0;
            a{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            height: 100%;
            width: 100%;
            }
            video, img, audio{
                max-width: 100%;
                max-height: 80%;
            }
            .titles-content-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 20%;
                width: 100%;
                background: $grey-transparent;
                text-align: right;
                font-size: $base-font-size;
                flex-grow: 2;
                p{
                    height: 20%;
                    min-height: 20px;
                    width: 100%;
                    background: $bright-light;
                }
                h3, p{
                    padding: $primary-margin;
                }
                h3{
                    text-align: center;
                }
            }
            audio ~ .titles-content-wrapper > p{
                order: 1;
            }
            audio{
                order: 1;
            }
        }
        .content-item:hover{
            background:$darker-transparent;
            h3{
                color: $very-light;
            }
        }
    }
    .pagination{
        @extend %inline-flex;
        justify-content: center;
        align-items: center;
        div{
            @extend %small-circle-button;
            @extend %vertical-centering;
            margin: $primary-margin;
            font-size: 0.9*$base-font-size;
            text-align: center;
            box-shadow: 0 0 5px $light;
        }
        div:hover{
            border-color: $medium;
            background: $darker-transparent;
            color: $very-light;
        }
    }

}

.hidden{
    display: none;
}

@import "partials/_media.scss";