@import "partials/_base.scss";
@import "partials/_borders.scss";
@import "partials/_figures.scss";
@import "partials/_buttons.scss";
@import "partials/_extends.scss";
@import "partials/_reset.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";

body{
    font-family: $font-stack;
    color: $primary-color;
    font-size: $primary-font-size;
}

.header{
    min-height: 500px;
    background: $header-background;
    @include background-size(100%);
}

.header-row, .menu{
    @extend %inline-flex;
}

.header-row, .main-content, .footer-content{
    @extend %max-width;
}

.header-row{
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}

.logo{
    max-width: 400px;
    padding: 0 $primary-header-margin;
    h1{
        font-size: 3em;
        font-weight: 400;
    }
}

.menu{
    font-size: 1.5em;
    justify-content: space-between;
    .menu-item, .dropdown-menu_item{
        position: relative;
        display: flex;
        flex-direction: row;
        height: $menu-item-height;
        margin-left: $primary-margin;
        .menu_border{
            width : $thick-border;
            background: $bright;
            border-radius: $small-border-radius;
            height: 100%;
            transition: $transition-all;
        }
        a{
            @extend %vertical-centering;
            height: 100%;
            padding: 0 2*$primary-padding;
            transition: $transition-all;
        }

        a:hover, a:active{
        background: $white-transparent;
        border-color: $logo-color;
        color: $bright;
        }
    }
    .dropdown-menu_item{
        flex-direction: column;
        width: $dropdown-menu-width;
        background: $white-transparent;

        .menu_border{
            width: 100%;
            height: $thick-border;
        }
    }

    .menu-item:hover > .dropdown-menu{
        display: inline-block;
    }

    .dropdown-menu{
        align-self: flex-start;
    }
}
.menu-item:hover > .menu_border, .dropdown-menu_item:hover > .menu_border{
    background: $primary-color;
}


.dropdown-menu{
    top: $menu-item-height;
    transition: $transition-dropdown;
    display: none;
    position: absolute;
    z-index: 10;
}

.search-icon{
    @extend %primary-button;
    align-self: center;
    color: $primary-color;
    margin-bottom: 0;
    width: 50px;
}

.search-wrapper{
    position: relative;
    z-index: 10;
}

.search-line{
    left: auto;
    right: 0;
    min-width: 300px;
    border: $white-transparent-border;
    border-radius: $primary-radius;
    text-align: right;
    background: $dark-transparent;
    padding: $primary-padding;
    padding-top: 0;
    input{
        border-radius: inherit;
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
        border: $thin-grey-border;
    }
}

.close-btn{
    @extend %primary-button;
    padding: 0;
    height: auto;
}

.header_slider{
    width: 100%;
}

.slider{
    @extend %inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    bottom: -$primary-header-margin;
    height: 450px;
    z-index: 5;
}

.slider_button{
    @extend %circle-button;
    font-size: 2em;
    transition: $transition-all;
}

.slider_button:hover{
    @extend %circle-button-hover;
}

.slider_box{
    @extend %max-width;
    height: 100%;
    overflow: hidden;
    border-radius: $big-border-radius;
    border: $light solid $primary-border;
    figure{
        text-align: center;
        display: none;
        width: 100%;
        margin: 0 auto;
    }
}

.content{
    background-color: $white-color;
    padding: $primary-header-margin 0;
    max-height: $primary-header-margin + 600;
    overflow-y: scroll;
}

.main-content{
    @extend %flex-wrap;
}

.rubric_title-wrapper{
    @extend %inline-flex;
    align-items: center;
    justify-content: center;
    height: $rubric-size;
    width: $rubric-size;
    background: $white-transparent;
    border: $brigth-borders;
    border-radius: 30px;
    margin: $primary-header-margin;
}

.footer{
    background: $very-light;
}

.footer-content{
    @extend %inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: $primary-margin auto;
    .socials{
        span.socials_item{
            margin: 0 $primary-margin;
            img{
            width: 40px;
            height: 40px;
            }
        }
    }
    div{
    padding: $primary-padding;
    }
    .footer_logo{
        padding: $primary-padding;
        h1{
           font-size: 1.5em;
        }
        h3{
            font-size: 1.1em;
         }
    }
}

